@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100;200;300;400;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* custom fonts */
    --handjet:'Handjet', cursive;
    --poppins: 'Poppins', sans-serif;
    
    /* Custom Color */
    /* Cyber easth */
    --palatinate_Purple: #63345e;
    --deap_Lilac: #ac61b9;
    --light_steel_blue: #b7c1de;
    --dark_cerulian: #0B468C;
    --midnight_express: #092047;

    /* obsidian */
    --jagger: 	#3d2856;
    --tolopea: #281f3f;
    --jaguar: #110d1d;
    --black_russian: #06030c;

    /* vars */
    
}

/* global attribute */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* width: 100%; */
    background-color: var(--black_russian);

}
.header{
    margin: 0 20px 0 20px;
    font-family: var(--poppins);
    top: 0;
    position: absolute;
    color: var(--light_steel_blue);
    /* display: none; */
    
}
.landingpage{
    width: 100%;
    height: 100vh;
    color: var(--light_steel_blue);
    font-family: var(--handjet);
    display: flex;
}
.intro{
    padding: 50px;
    padding-top: 230px;
}
.intro h1{
    font-size: 60px;
    font-family: var(--poppins);
    font-weight: 500;
}
.intro hr{
    margin-right: 50%;
}
.intro p{
    font-size: 60px;
    line-height: 5rem;
    font-family: var(--poppins);
}
.intro p b{
    font-size: 110px;
    font-weight: 300;
}
.intro , .icons{
    width: 50%;
    
}
.icon-item{
    position: absolute;
    opacity: 0;

    
    -webkit-user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    /* color: var(--light_steel_blue); */
    /* background-color: var(--light_steel_blue); */
}
.html-icon{
    width: 275px;
    height: 275px;
    top: 200px;
    right: 280px;
}
.css-icon{
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
}
.js-icon{
    width: 250px;
    height: 250px;
    top: 350px;
    right: 20;
}
/* 
    section 2
    this is where ill send a short message for viewers to read..

    i would also want to automatically change everytime the page is loaded
*/
.section2{
    width: 100%;
    height: 150vh;
}
.message{
    opacity: 0;
    margin: 30% ;
    display: flex;
    flex-direction: column; 
    /* box-shadow: 5px 10px var(--light_steel_blue); */

    box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 0px;
    /* background-color: aqua; */
}

.message p{
    margin: 20%;

    color: var(--light_steel_blue);
    font-size: 30px;
}
.message .messageIn{
    /* background-color: #0B468C; */
    opacity: 0;
    top: 100;
}
.active{
    opacity: 1;
    /* background-color: red; */
    /* color: #0B468C; */
}


/*  secion 3 
    this section is where i will put the 
    link for my socials and othe fratform i am in
*/
.container{
    width: 100%;
    padding: 20%;
}
.container .link{
    width: auto;
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;

    /* background-color: var(--dark_cerulian); */
}
.container .link .links img{
    width: auto;
    height: 100%;
    transition: 2s;
}
.container .link .links img:hover{
    scale: 1.4;
}
.container .containerDivider{
    margin: 20px 100px 200px 100px;
}
.container .content{
    width: 100%;
    padding: 1px 100px;
    display: flex;
    flex-direction: column;
}
.container .content .categories{
    width: 100%;
    height: 600px;
    
}
.container .content .categories a{
    font-size: 50px;
    color: var(--light_steel_blue);
    margin-top: 100px;
    text-decoration: none;
    font-family: var(--poppins);
}